torch
transformers
pillow
azure-ai-documentintelligence
deepgram-sdk
google-cloud-translate
google-cloud-texttospeech
google-genai>=0.1.0
langgraph>=0.2.0
python-dotenv>=1.0.0
requests>=2.31.0
presidio-analyzer>=2.2.0
spacy>=3.7.0
sentence-transformers>=3.0.0
numpy>=1.26.0
cryptography
fastmcp
google-auth
google-auth-oauthlib
google-api-python-client


# pip install -r requirements.txt
# .\venv\Scripts\Activate.ps1
# python -m spacy download en_core_web_lg
# python rag.py

# git pull
# git add .
# git commit -m "describe what changed"
# git push
